*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0B1120;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:90%;
max-width:700px;
}

h1{
font-size:3rem;
margin-bottom:10px;
}

.tagline{
color:#06B6D4;
margin-bottom:25px;
}

.card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);
padding:30px;
border-radius:20px;
border:1px solid rgba(255,255,255,0.1);
}

input{
width:100%;
padding:15px;
margin-top:20px;
border:none;
border-radius:10px;
font-size:16px;
}

#score{
margin-top:20px;
font-size:24px;
font-weight:bold;
color:#3B82F6;
}

#strength{
margin-top:10px;
font-size:18px;
font-weight:bold;
}

#entropy{
margin-top:10px;
margin-bottom:20px;
}

ul{
list-style:none;
}

li{
margin:8px 0;
}

button{
margin-top:20px;
padding:12px 20px;
background:#3B82F6;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}
.password-box{
display:flex;
gap:10px;
margin-top:20px;
}

.password-box input{
flex:1;
}

.password-box button{
margin-top:0;
}
.card{
transition:0.3s ease;
}

.card:hover{
transform:translateY(-5px);
}

button{
transition:0.3s ease;
}

button:hover{
transform:scale(1.05);
}
footer{
text-align:center;
margin-top:40px;
padding:20px;
color:#94A3B8;
font-size:14px;
}

footer p{
margin:5px 0;
}
.score-container{
text-align:center;
margin:25px 0;
}

.circular-progress{

width:180px;
height:180px;

margin:auto;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

background:
conic-gradient(
#3B82F6 0deg,
rgba(255,255,255,0.1) 0deg
);

position:relative;
}

.circular-progress::before{

content:"";

position:absolute;

width:140px;
height:140px;

background:#0B1120;

border-radius:50%;
}

#score-number{

position:relative;

font-size:38px;
font-weight:bold;

color:white;
}

#strength{

margin-top:15px;

font-size:22px;

font-weight:bold;
}
